@import "$lib/fonts/fonts.css";

html {
	height: 100%;
	background: radial-gradient(rgb(33, 33, 33), black) !important;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.page {
	@apply mx-auto h-full px-4 md:px-6 max-w-screen-2xl;
}

.page--game {
	@apply mx-auto px-4 md:px-6 max-w-screen-2xl;
}

.hide-component {
	@apply p-2 lg: p-6 mb-10;
	visibility: hidden;
	height: 0;
}

input {
	@apply text-center text-fontcolor bg-white bg-opacity-5 text-4xl border-1 border-light-300 p-3 rounded-xl;
}

.big-button {
	@apply mt-4 px-4 py-2 rounded-md font-bold border-2 border-fontcolor disabled:opacity-30 enabled:bg-white/10 hover:bg-accent active:bg-accent/75;
}
